@using Microsoft.AspNetCore.Identity
@using SignalRChat.Areas.Identity.Models

@model SignalRChat.Areas.Chat.Models.ChatroomDto
@inject UserManager<ChatUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChatUsers)
        </dt>
        <dd class="col-sm-10">
            @Model.GetUsersString()
            <a asp-action="AddMembers" asp-route-id="@Model.Id">Add Members</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="input-group mb-3 col-lg-12">
            <input type="hidden" id="chatroomId" value="@Model.Id" />
            <input type="hidden" id="userId" value="@Model.User.Id" />
            <input type="hidden" id="userName" value="@Model.User.UserName" />
            <input type="text" class="form-control" placeholder="Chat here" id="newMessageBox">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="sendButton">Send</button>
            </div>
        </div>
    </div>
    <div class="row messages-container overflow-auto">
        <div class="col-lg-12">
            <ul id="messagesContainer" class="list-group">
                @foreach (var item in Model.ChatMessages)
                {
                    @if (item.ChatUser.UserName == Model.User.UserName)
                    {
                        <li class="list-group-item">
                            <div class="container">
                                <p><span class="font-weight-bold">@item.ChatUser.UserName:</span> @item.Message</p>
                                <span class="float-left timestamp">@item.TimeStamp</span>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item list-group-item-primary">
                            <div class="container">
                                <p><span class="font-weight-bold">@item.ChatUser.UserName:</span> @item.Message</p>
                                <span class="float-left timestamp">@item.TimeStamp</span>
                            </div>
                        </li>
                    }

                }
            </ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
