@model IEnumerable<SignalRChat.Areas.Chat.Models.Chatroom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "Chatrooms", new { id = item.Id }))'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                <button class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">CHATROOM</button>
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Change Room Name</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
